/* GENERAL */
.debug{
    border: 1px solid black;
}

:root{
    --bg-top: #009688;
    --bg-bottom: #DBDBD2;
    --bg-app-header: #EAEAEA;
    --color-gray: #B1B1B1;
    --bg-alert: #8EDAFC;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.text-inform{
    color: grey;
    font-size: 0.7rem;
    font-weight: 500;
}


/* BACKGROUND */
.bg-container{
    height: 100vh;
    position: relative;
}
.bg-top{
    height: 20%;
    background-color: var(--bg-top);
}
.bg-bottom{
    height: 80%;
    background-color: var(--bg-bottom);
}

/* APP */
.general-wrapper{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}
/* COL LEFT*/
.col-4{
    background-color: var(--bg-app-header);
    padding-left: 0!important;
    padding-right: 0!important;
}
.header-left .font-container{
    color: var(--color-gray);
    font-size: 1.5rem;
}
.alert-section{
    background-color: var(--bg-alert);
}
.alert-section .bell{
    background-color: white;
    color: var(--bg-alert);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
.alert-section .text-container{
    font-size: 1rem;
    padding-left: 5px;
}
.alert-section .text-1 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.alert-section .text-2 a {
    color: grey;
    font-size: 0.8rem;
}
.fa-magnifying-glass{
    color: var(--color-gray);
}
.main-left{
    height: calc(640px - 185px);
    background-color: white;
    overflow-y: scroll;
}

/* COL-8 */
.col-8{
    background-color: var(--bg-app-header);
    padding-left: 0!important;
    padding-right: 0!important;
}
.header-right .font-container{
    color: var(--color-gray);
    font-size: 1.5rem;
}
.main-right{
    background-image: url(../img/mine.jpg);
    height: 500px;
    overflow-y: scroll;
}
.footer-right{
    height: 60px;
}

/* MESSAGGI */

.messaggio{
    position: relative;
    min-height: 10%;
    min-width: 20%;
    margin: 10px 50px;
    padding: 15px;
    border-radius: 10px;
    font-size: 0.8rem;
}

.messaggio.sent{
    background-color: #D5F9BA;
    float: right;
    clear: both;
}

.messaggio.received{
    background-color:white;
    float: left;
    clear: both;
}